.gtk-ajax-search {
    padding-top: 50px;
}

.gtk-ajax-search.is-loading::after {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid #eee;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    -webkit-animation: spinner .5s infinite linear;
    animation: spinner .5s infinite linear;
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.gtk-ajas-search-results__list {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.gtk-search-item {
    -webkit-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

.gtk-search-item__title {
    font-size: 17px;
}

.gtk-ajax-search-results__more {
    text-align: center;
}

.gtk-ajax-search-results__more a {
    color: #343434;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 1px solid #eee;
    padding: 15px 35px;
    -webkit-transition: all .2s;
    transition: all .2s;
}